* Path to the CURL binary (we need a way to download the input files lol)                                                                                                                                                                              00000110
CURL_PATH = /zot/boot/curl-7.83.1/bin/curl                                                                                                                                                                                                             00000200
* Your session Cookie: see https://github.com/wimglenn/advent-of-code-wim/issues/1                                                                                                                                                                     00000210
SESSION = put_your_session_cookie_here_after_logging_in_to_advent_of_code                                                   1156d04efea586                                                                                                             00000300
* where we will store the input files                                                                                                                                                                                                                  00000310
INPUTFILES = /tmp                                                                                                                                                                                                                                      00000400
